.form {
    display: flex;
    flex-direction: column;
}

.text-area {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fieldSet {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.resumo {
    display: flex;
    flex-direction: column;
}

.buttons {
    margin-top: 10px;
}

.enviar {
    margin-right: 10px;
}

.espaco {
    margin-bottom: 10px;
}